@inject Services.ApiService ApiService
@inject NavigationManager Navigation;

<div>
    <br/>
    <h3>Create a new Post</h3>
    <input placeholder="Title" type="text" id="postTitle" @bind-value="_postTitle"/>
    <input placeholder="Content" type="text" id="postContent" @bind-value="_postContent"/>
    <input placeholder="Author" type="text" id="postAuthor" @bind-value="_postAuthor"/>
    <button id="createPostButton" type="button" @onclick="CreateNewPost">Create Post</button>
</div>

@code {
    private string? _postTitle;
    private string? _postContent;
    private string? _postAuthor;

    private async void CreateNewPost()
    {
        Console.WriteLine("Creating new post");
        if (_postTitle == null || _postContent == null)
        {
            return;
        }
        Console.WriteLine(_postTitle + " " + _postContent);
        // TODO: Provide list of users from dropdown, or maybe just convert
        // from username to UserId

        await ApiService.CreatePost(_postTitle, _postContent, _postAuthor); // UserID: 2
        StateHasChanged();
    
        Navigation.NavigateTo("/", forceLoad: true);
    }
}